Repository StirNetwork/fireblocks-cli: changes, and which pre-commit hooks are due for each by the changed paths.
All: update-contributors, add-spdx, add-author

update-contributors:
  name: Update CONTRIBUTORS.md
  entry: bash ./scripts/generate_contributors.sh
  language: system

add-spdx:
  name: Add spdx
  entry: make annotate-SPD
  language: system
  pass_filenames: false

add-author:
  name: Add Author from git config
  entry: python ./scripts/add_author.py
  language: python

Update scripts/generate_contributors.sh\nAdd Sign-off check when pre-commit
  .bumpversion.cfg
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  requirements-dev.txt
  scripts/check_signoff.sh
  scripts/generate_contributors.sh
Due: update-contributors, add-spdx, add-author

Setup bumpversion
  .bumpversion.cfg
  .bumpversion.toml
  pyproject.toml
Due: none

delete extra package
  requirements-dev.txt
Due: none

chore: format contributor list as bullet points
  CONTRIBUTORS.md
  scripts/generate_contributors.sh
Due: update-contributors, add-spdx, add-author

chore: always update CONTRIBUTORS.md when any file is modified
  .pre-commit-config.yaml
Due: none

docs: update README and remove unnecessary files
  README.md
  VERSION.txt
Due: none

docs: add ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/general_issue.md
Due: none

feat:add version
  fireblocks_cli/main.py
Due: add-spdx, add-author

add changes for pypi
  pyproject.toml
  requirements-dev.txt
Due: none

add changes for pypi #4
  .github/workflows/pypi.yml
  Makefile
  pyproject.toml
  requirements-dev.txt
Due: none

chor: enable mannual upload
  .github/workflows/pypi.yml
Due: none

chore: Add description for DCO to contribute
  README.md
Due: none

docs: add configure Subcommand List to README
  README.md
Due: none

Update README.md
  README.md
Due: none

chor: add configure Subcommand List to README
  README.md
Due: none

docs; update readme
  README.md
  docs/spec/configure.md
Due: none

change config dir to /Users/cameong/.config/fireblocks-cli
  README.md
Due: none

add configure init command
  fireblocks_cli/__main__.py
  fireblocks_cli/commands/configure.py
  fireblocks_cli/config.py
  fireblocks_cli/utils/__init__.py
  fireblocks_cli/utils/toml.py
  pyproject.toml
  requirements.txt
Due: add-spdx, add-author

add configure init and its test
  README.md
  fireblocks_cli/commands/configure.py
  fireblocks_cli/config.py
  fireblocks_cli/crypto.py
  requirements-dev.txt
  tests/test_configure_init.py
Due: add-spdx, add-author

chmod 600 for files generated by configure gen-keys
  Makefile
  fireblocks_cli/crypto.py
  tests/test_configure_gen_keys.py
Due: add-spdx, add-author

modify test status for configure key-gens
  README.md
Due: none

chore upload method
  Makefile
  poetry.lock
  pyproject.toml
  requirements-dev.txt
  requirements.txt
Due: none

update poetry related docs
  poetry.lock
  pyproject.toml
Due: none

update spdx lint
  .bumpversion.toml
  .github/ISSUE_TEMPLATE/general_issue.md
  .github/workflows/dco.yml
  .github/workflows/pypi.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTORS.md
  DCO.txt
  LICENSES/MPL-2.0.txt
  Makefile
  README.md
  docs/spec/configure.md
  fireblocks_cli/__init__.py
  fireblocks_cli/commands/configure.py
  poetry.lock
  poetry.lock.license
  pyproject.toml
  scripts/add_author.py
  scripts/generate_contributors.sh
  scripts/get_changed_files.sh
Due: update-contributors, add-spdx, add-author

fix config.toml default value #31
  fireblocks_cli/commands/configure.py
  poetry.lock
  poetry.lock.license
  pyproject.toml
  scripts/get_changed_files.sh
Due: add-spdx, add-author

chore/Update_README: Implement configure validate
  README.md
Due: none

add configure edit and its test code #18 #19
  README.md
  fireblocks_cli/commands/configure.py
  tests/test_configure_edit.py
Due: add-spdx, add-author

add configure list and test
  README.md
  REUSE.toml
  fireblocks_cli/commands/configure.py
  poetry.lock.license
  tests/test_configure_list.py
Due: add-spdx, add-author

feat: add test for configure validate
  README.md
  pyproject.toml
  tests/test_configure_validate.py
Due: add-spdx, add-author

refactor configure list
  fireblocks_cli/commands/configure.py
  fireblocks_cli/utils/profile.py
Due: add-spdx, add-author

refactor: move profile related function to fireblocks_cli.utils.profile
  fireblocks_cli/commands/configure.py
  fireblocks_cli/commands/profile_debug.py
  fireblocks_cli/config.py
  fireblocks_cli/crypto.py
  fireblocks_cli/main.py
  fireblocks_cli/utils/profile.py
  poetry.lock
  poetry.lock.license
  pyproject.toml
  scripts/get_changed_files.sh
  tests/test_configure_edit.py
Due: add-spdx, add-author

add file auth and test profile debug
  fireblocks_cli/auth/__init__.py
  fireblocks_cli/auth/base.py
  fireblocks_cli/auth/factory.py
  fireblocks_cli/auth/file_provider.py
  fireblocks_cli/auth/vault_provider.py
  fireblocks_cli/commands/profile_debug.py
  fireblocks_cli/main.py
  fireblocks_cli/types/__init__.py
  fireblocks_cli/types/profile_config.py
  fireblocks_cli/utils/profile.py
  poetry.lock
  pyproject.toml
  tests/auth/test_auth_factory.py
  tests/auth/test_file_provider.py
Due: add-spdx, add-author

delete secret toekn fron building pypi
  .github/workflows/pypi.yml
Due: none

update .github/workflows/pypi
  .github/workflows/pypi.yml
Due: none

update .bump
  .bumpversion.toml
Due: none

update v0.1.7
  .bumpversion.toml
  pyproject.toml
Due: none

change build method to pypi
  pyproject.toml
Due: none

patch pyproject.toml
  pyproject.toml
Due: none

update pypa/gh-action-pypi-publish, update pyproject.toml
  .github/workflows/pypi.yml
  pyproject.toml
Due: none

fix_typo: pypa/gh-action-pypi-publish
  .github/workflows/pypi.yml
Due: none

Path conditions:
  update-contributors: any of: ^CONTRIBUTORS\.md$
  add-spdx: any of: \.(py|sh)$
  add-author: any of: \.(py|sh)$
